# Copier vers .env : cp .env.example .env
# Variables exposées au front : préfixe obligatoire VITE_
# https://vite.dev/guide/env-and-mode.html

VITE_APP_NAME=Remanence
VITE_API_BASE_URL=http://localhost:3000/api
# Exemple : JSON ou "true"/"false" selon ton usage
VITE_ENABLE_ANALYTICS=false

# Infos serveur de jeu (affichage front)
VITE_SERVER_NAME=Remanence RP
VITE_SERVER_IP=127.0.0.1
VITE_SERVER_PORT=30120
# Lien d’invitation Discord (communauté, support, annonces)
VITE_DISCORD_INVITE_URL=https://discord.gg/votre-invite
