# .env.example (racine)

# Postgres container
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=app

# Port exposé sur la machine hôte
POSTGRES_PORT=2312

# Host de la DB vu depuis ta machine (Adonis & Drizzle en local)
POSTGRES_HOST=localhost