# apps/api/.env.example

# App
PORT=2907
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=YOUR_APP_KEY_HERE
DRIVE_DISK=local
LOG_LEVEL=info

# Database
DB_CONNECTION=pg
PG_HOST=${POSTGRES_HOST}
PG_PORT=${POSTGRES_PORT}
PG_USER=${POSTGRES_USER}
PG_PASSWORD=${POSTGRES_PASSWORD}
PG_DB_NAME=${POSTGRES_DB}
